In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
####### 1. 붓꽃 데이터 분석

In [ ]:
#### 붓꽃 데이터 읽어와서 확인하기
# iris_data = pd.read_csv('iris.csv')
# iris_data.info()
# iris_data.describe()
# iris_data['species'].value_counts()

In [ ]:
#### 붓꽃 데이터 전처리
# iris_data.isna()
# print(iris_data)
# iris_data[:].value_counts()
# iris_data = iris_data.drop_duplicates()

In [ ]:
#### 붓꽃 데이터 그룹핑
# iris_data.groupby('species').sum()
# iris_data.groupby('species').mean()

In [ ]:

#### 붓꽃 데이터 시각화
##1. 막대 그래프 그리기
## 1-(1)
# plt.rc('font', family='Gulim')
# plt.bar(x=iris_data[:], y=iris_data['sepal_length'])
# plt.xlabel('Data')
# plt.ylabel('꽃받침의 길이')
# plt.title('꽃받침 길이 시각화')
# plt.show()

In [ ]:
## 1-(2)
# sns.barplot(x=iris_data['species'], y=iris_data['sepal_length'])
# plt.show()

In [ ]:
##2. 히스토그램 그래프 그리기 ####
# plt.hist(x=iris_data.)
# plt.show()

In [ ]:
##3. 산점도 그래프 그리기
# sns.scatterplot(x=iris_data['sepal_length'], y=iris_data['petal_length'], hue=iris_data['species'])
# plt.show()

In [ ]:

#### 타이타닉 데이터 분석
## 타이타닉 데이터 읽어와서 확인하기
# titanic_data = pd.read_csv('titanic.csv')
# # titanic_data.info()
# # titanic_data.describe()
# titanic_data = titanic_data.sort_values(by='fare', ascending=False)
# print(titanic_data['survived'].value_counts())

In [ ]:

## 타이타닉 데이터 전처리
# titanic_data.isna()
# titanic_data.drop('deck', axis=1, inplace=True)
# print(titanic_data['embarked'].value_counts()) # 최빈값 = S
# titanic_data['embarked'].replace('NaN', 'S', inplace=True)
# print(titanic_data['embarked'])
# print(titanic_data['age'].mean()) # 나이평균 = 30
# titanic_data['age'].replace('NaN', 30, inplace=True)

In [ ]:

## 타이타닉 데이터 그룹핑
# titanic_data.groupby('embarked')['pclass'].mean()
# titanic_data.groupby('sex')['pclass'].mean()

In [ ]:

## 타이타닉 데이터 시각화
##1. 막대 그래프 그리기
# sns.countplot(x=titanic_data['pclass'], hue=titanic_data['survived'])
# plt.show()

In [ ]:

##2. 히트맵 그래프 그리기
# print(titanic_data.columns)
# titanic_data = titanic_data[['Unnamed: 0', 'survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']]
# # print(titanic_data)
# df = titanic_data.corr()
# sns.heatmap(data=df, annot=True, fmt='.2f', cmap='Blues')
# plt.show()