<a href="https://colab.research.google.com/github/NullSpac/aipython1/blob/main/240102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 하나의 변수를 활용하는 코드입니다.
lab = 105
print('우리가 수업하는 실습실:')
print(lab)

In [ ]:
# 하나의 변수를 활용하는 코드입니다.
lab = 105
print('우리가 수업하는 실습실:', lab)

In [ ]:
# 변수 두 개를 생성하고 값을 할당
my_id = 20150001
grade = 1
# 두 개의 변수에 할당된 값을 출력
print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

In [ ]:
# 변수에 값을 할당하고 출력하는 예제입니다.
# dollars 변수에 값을 할당해봅시다.
dollars = 2.75
print('I have', dollars, 'in my account.')
# dollars 변수에 새로운 값을 할당해봅시다.
dollars = 99.95
print('But now I have', dollars, 'in my account!')

In [ ]:
# 두 개의 변수를 생성하고 문자열을 할당합니다.
department = '국어국문학과'
name = '홍길동'
# 각 변수에 할당된 문자열 값을 출력해보자.
print(department, name)

In [ ]:
# 학과명을 입력받습니다.
department = input('학과명: ')
# 여러분의 이름을 입력받습니다.
name = input('성명: ')
# 두 변수의 값을 출력합니다.
print('안녕하세요', department, name)

In [ ]:
# 여러분의 이름, 나이, 통학시간 정보를 입력받습니다.
name = input('당신의 이름은 무엇입니까? ')
age = int(input('나이는 어떻게 되시나요? '))
attending_time = float(input('통학시간은 얼마나 걸립니까?'))
# 변수에 입력된 데이터를 출력해봅시다.
print('입력 정보는 다음과 같습니다.')
print('이름:', name)
print('나이:', age)
print('통학시간:', attending_time)

In [ ]:
# salary 변수에 급여를 할당합니다.
salary = 2500.0
# bonus 변수에 보너스를 할당합니다.
bonus = 1200.0
# 급여와 보너스를 더하여 총 급여를 구해봅니다.
# 총 급여를 pay 변수에 할당합니다.
pay = salary + bonus
# 총 급여를 출력합니다.
print('총 급여:', pay)

In [ ]:
# 본 예제에서는 원가에 할인율을 적용하여 할인가격을 계산해보자.

# original_price 변수에 원가를 입력받는다.
original_price = float(input('제품의 원가를 입력해주세요: '))
# 원가에 할인율 20%를 적용하여 할인가를 계산하여 discount 변수에 할당한다.
discount = original_price * 0.2
sale_price = original_price - discount
print('할인가격:', sale_price)

In [ ]:
test1 = float(input('첫 번째 과목 점수를 입력해주세요:'))
test2 = float(input('두 번째 과목 점수를 입력해주세요:'))
test3 = float(input('세 번째 과목 점수를 입력해주세요:'))

average = (test1 + test2 + test3) / 3.0

print('3과목의 평균 점수:', average)

In [ ]:
total_seconds = float(input('시간 값을 초 단위로 입력해주세요:'))
hours = total_seconds // 3600
minutes = (total_seconds // 60) % 60
seconds = total_seconds % 60

print('시 분 초는 다음과 같습니다.')
print('시:', hours)
print('분:', minutes)
print('초:', seconds)

In [ ]:
future_value = float(input('목표 금액을 입력해주세요: '))
rate = float(input('연간 이율을 입력해주세요: '))
years = int(input('저축기간을 연 단위로 입력해주세요:'))
present_value = future_value / (1.0 + rate)**years
print('적립금액:', present_value)

In [ ]:
print('a', 'b', 'c')
print('a','b', 'c', sep = '')
print('a', 'b', 'c', sep = '***')

In [ ]:
print('a')
print('b')
print('c', end = '')
print('d', end = '')
print('e', end = '***')
print('f')

In [ ]:
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print('월급여:', monthly_payment)

In [1]:
amount_due = 5000.0
monthly_payment = amount_due / 12
print('월급여:', format(monthly_payment, '.2f'))

월급여: 416.67

In [ ]:
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print('Your annual pay is $', format(annual_pay, '.2f'), sep = '')